body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}


#map {
    height: 100vh;
}

.title {
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 88px;
    z-index: 30;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

.search-container {
    width: 400px;
    height: 60px;
    background-color: #454E53;
    position: absolute;
    z-index: 30;
    top: 230px;
    left: 100px;
    border-radius: 30px;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search input {
    width: 100%;
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: white;
}

.search input:focus {
    outline: none;
}

.search i {
    color: white;
    font-size: 25px;
}

.stores-list-container {
    width: 400px;
    background-color: white;
    position: absolute;
    z-index: 30;
    top: 320px;
    left: 100px;
    border-radius: 30px;
    bottom: 20px;
}

.stores-list {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 100%;
}

.store-container {
    display: flex;
    border-bottom: 1px solid #979797;
    cursor: pointer;
}

.store-info-container {
    flex-grow: 1;
}

.store-address {
    font-size: 21px;
    color: #514C4C;
    margin-top: 30px;
}

.store-phone-number {
    color: #B5ADAD;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number-container {
    align-items: center;
    display: flex;
}

.store-number {
    width: 30px;
    height: 30px;
    background-color: #454E53;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.store-address span {
    display: block;
}


.store-info-window {
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}

.store-info-name {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0,0,0, 0.87);
}

.store-info-status {
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}

.store-info-address, .store-info-phone {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.store-info-address .circle, .store-info-phone .circle {
    width: 30px;
    height: 30px;
    background-color: #1985A1;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.store-container-background {
    width: 100%;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 18px;
    transition: background 0.2s ease-in-out;
}

.store-container-background:hover {
    background-color: #ccc;
}

